<div>Order
<button  class="btn btn-sm btn-info" data-ng-click="activities.reverse()">Reverse</button></div>
<a  class="btn btn-sm btn-warning" href="/#/">Back</a>&emsp;<input ng-model="searchDescription" placeholder="Search Categories.." type="text"/>&emsp;<button class="btn btn-sm btn-info">Search</button>
&emsp;<a  ng-show="currentUser.systemRole == 'ADMIN'" class="btn btn-success" href="/#/categories/add">Add new Category</a>

<table class="table table-hover" data-ng-init="page=0; getAll();">
<!--  zapoceta paginacija -->



	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Description</th>
		<th ng-show="currentUser.systemRole == 'ADMIN'">Actions</th>
	</tr>
	<tbody>
		<!--  -->
		<tr data-ng-repeat="activity in activities">
		
			<td>{{ activity.id }}</td>
			<td>{{ activity.name }}</td>
			<td>{{ activity.description }}</td>
			<td>
			<div ng-show="currentUser.systemRole == 'ADMIN'">
				<button ng-show="!show" class="btn btn-danger"data-ng-click="show=true">Delete</button>
					<a class="btn btn-warning" href="/#/categories/edit/{{activity.id}}">Edit</a>
					<a href="/#/categories/view/{{activity.id}}"><button class="btn btn-info">View</button></a>
					
					<div ng-show="show">
					<h4>Are you sure?</h4><button class="btn btn-danger" ng-click="remove(activity.id)">Yes</button><button class="btn btn-warning" ng-click="show = !show">No</button>
					</div>
					
				</div>	
			</td>
		</tr>
	</tbody>
</table>
<div class="row text-center">
	<span data-ng-hide="hideSpinner" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
	<!--  PAGINACIJA ------------------------------------->
	
<div class="row text-right">
	<button class="btn btn-default" ng-click="page=page-1; getAll()" ng-disabled="page == 0">Previous</button>
	<!--  {{ page + 1}} / {{ totalPages }} --> <span ng-repeat="a in range(0, totalPages)"><span ng-show="bold(a)"><b>{{a}}</b></span><span ng-hide="bold(a)">{{a}}</span></span>
	<button class="btn btn-default" ng-click="page=page+1; getAll()" ng-disabled="page == totalPages - 1">Next</button>
</div>	
	<!--  PAGINACIJA KRAJ --------------------------------->
</div>	
<div class="alert alert-warning" data-ng-show="show_alert">
  <button type="button" class="close" data-ng-click="show_alert=false">&times;</button>
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>

<br/>
<a  class="btn btn-warning" href="/#/">Back</a>
<!-- activity in activities | orderBy:'$index':true  -->
